# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\14. Thuat toan sap xep\[Thuc hanh] Cai dat thuat toan sap xep noi bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
